schemas/perseus_drama.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Perseus drama</title>
        <author>Cliff Wulfman</author>
        <author>Sebastian Rahtz</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <p>This template file is freely available and you are hereby
          authorised to copy, modify, and redistribute it in any way without
          further reference or permissions.</p>
          <p>When making such modifications, you are strongly recommended to
          change the present text to include an accurate statement of the
          licencing conditions applicable to your modified text.</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>No source; this was originally written from scratch in digital
        form.</p>
      </sourceDesc>
    </fileDesc><encodingDesc><appInfo><application ident="RomaJS" version="1.1.0" when="2024-06-22T17:41:46.298Z"><desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc></application></appInfo><appInfo><application ident="RomaJS" version="1.1.1" when="2024-08-27T14:51:17.530Z"><desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc></application></appInfo><appInfo><application ident="RomaJS" version="1.1.1" when="2024-09-12T20:59:04.379Z"><desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc></application></appInfo></encodingDesc>
  </teiHeader>
  <text>
    <body>
      <p>In addition to the four <soCalled>required</soCalled> modules
      (<name>header</name>, <name>core</name>, <name>tei</name>, and
      <name>textstructure</name>, so called because among them they
      contain the underpinnings of the TEI class system, and all of
      the elements that are actually required for a conformant TEI
      schema), this customization loads the modules for drama and for
      linking, segmentation, and alignment. The latter provides the
      <att>next</att> and <att>prev</att> attributes which are often
      useful when dramatic speeches overlap verse lines in a
      non-hierarchical manner. Other global attributes which are
      normally provided by this module have been deleted from this
      customization. In addition the global <att>xml:base</att> and
      <att>xml:space</att> attributes have been removed.</p>
      <schemaSpec ident="perseus_drama" start="TEI teiCorpus" prefix="tei_" targetLang="en" docLang="en">
        <moduleRef key="header"/>
        <moduleRef key="core"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure"/>
        <moduleRef key="linking"/>
        <moduleRef key="drama"/>
        <classSpec predeclare="true" module="linking" xml:id="CLLINK" type="atts" ident="att.global.linking" mode="change">
          <desc xml:lang="en" versionDate="2014-01-12">defines the
          attributes used for aggregating partial elements into a
          single virtual element.</desc>
          <attList>
            <attDef ident="corresp" usage="opt" mode="delete"/>
            <attDef ident="synch" usage="opt" mode="delete"/>
            <attDef ident="sameAs" usage="opt" mode="delete"/>
            <attDef ident="copyOf" usage="opt" mode="delete"/>
            <attDef ident="next" usage="opt" mode="change">
              <valDesc mode="change">a URI which should point to an element of
              the same type, typically within the same document</valDesc>
            </attDef>
            <attDef ident="prev" usage="opt" mode="change">
              <valDesc mode="change">a URI which should point to an element of
              the same type, typically within the same document</valDesc>
            </attDef>
            <attDef ident="exclude" usage="opt" mode="delete"/>
            <attDef ident="select" usage="opt" mode="delete"/>
          </attList>
          <listRef>
            <ptr target="#SAAG"/>
          </listRef>
        </classSpec>
        <classSpec module="tei" xml:id="GLOBAL" type="atts" ident="att.global" mode="change">
          <desc xml:lang="en" versionDate="2014-01-12">provides a set
          of attributes common to all elements in the
          <name>tei_drama</name> customization of the TEI encoding
          scheme.</desc>
          <classes>
            <memberOf key="att.global.linking"/>
            <memberOf key="att.global.analytic"/>
          </classes>
          <attList>
            <attDef ident="xml:space" usage="opt" mode="delete"/>
            <attDef ident="xml:base" usage="opt" mode="delete"/>
          </attList>
        </classSpec>
      <moduleRef key="textcrit" include="listWit witness lem app rdg wit lacunaEnd lacunaStart"/><moduleRef key="tagdocs" include="tag"/><elementSpec ident="hi" mode="change"><attList><attDef ident="rend" usage="opt"><datatype><dataRef key="teidata.word"/></datatype></attDef><attDef ident="rendition" mode="delete"/><attDef ident="style" mode="delete"/></attList></elementSpec><elementSpec ident="p" mode="change"><attList><attDef ident="rend" usage="opt"><datatype><dataRef key="teidata.word"/></datatype></attDef><attDef ident="style" mode="delete"/><attDef ident="rendition" mode="delete"/></attList></elementSpec><classRef key="att.global.rendition"/><moduleRef key="figures" include="figDesc figure"/><elementSpec ident="name" mode="change"><attList><attDef ident="calendar" mode="delete"/><attDef ident="rend" usage="opt"><datatype><dataRef key="teidata.word"/></datatype></attDef></attList></elementSpec><classRef key="att.global.rendition"/></schemaSpec>
    </body>
  </text>
</TEI>